  /* Footer */
      
  .footer {
  background-color: #E6DDC6;
  width: 100%;
  height: 150px;
  padding-top: 15px;
  @extend %d-flex-j-content;}


  .redes-sociales {
  color: black;}

  .iconos-redes-sociales {
  display: flex;
  justify-content: space-around;}