    /* Sobre nosotros */

    .parrafo-sobre-nosotros {
        text-align: center;
        color: black;
        font-size: 25px;}
     
     .h-uno-sobre-nosotros {
        border: 1px solid #c2b8a3;
        text-align: center;}